opencv-python-headless  # Use this for environments without GUI support
# opencv-python  # Uncomment if you need GUI support
streamlit
tensorflow
Pillow
numpy
fastai
seaborn
matplotlib
aiofiles
aiohttp
asyncio
torchvision
keras
